$firstly-text = #212121;
$firstly-text-transparent = rgba(33, 33, 33, 0.4);
$secondary-text = #757575;
$white-text = #FFFFFF;
$dark-primary-color = #AFB42B;
$primary-color = #CDDC39;
$light-primary-color = #8BC34A;
$grey-color = #eeeeee;
$divider-color = #BDBDBD;
$font-size-title = 2.4rem;
$font-size-ultra = 1.6rem;
$font-size-big = 1.2rem;
$font-size-mid = 0.8rem;
$font-size-small = 0.6rem;
$font-size-mini = 0.4rem;
$vant-nav-bar-height = 46px;
$m-header-height = 10vh;